.notes-view__ {
  &toolbar__ {
    &wrapper {
      border-bottom: 1px solid var(--color-border);
      height: 2rem;
      padding: 0.375rem 1.5rem;
      display: flex;
      align-items: center;
    }

    &btn {
      cursor: pointer;
      // background-color: var(--sidebar-color-bg);
      width: 1.75rem;
      height: 1.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.25rem;
      transition: background-color var(--cc-transition-speed) ease;

      &:hover {
        background-color: var(--color-bg-hover);
      }
    }
  }

  &empty-folder {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
  }

  &note-grid {
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem;
    flex-wrap: wrap;
  }

  &note-block__ {
    &wrapper {
      display: grid;
      height: 12.75rem;
      width: 14rem;
      background-color: var(--color-bg-compliment);
      border: 0.0625rem solid var(--color-border);
      border-radius: 0.25rem;

      transition: background-color var(--cc-transition-speed) ease;

      &:hover {
        background-color: var(--color-bg-hover);
      }
    }

    &link {
      text-decoration: none;
      color: var(--color-text);
      height: 15rem;
    }

    &top-line {
      display: grid;
      grid-template-columns: 1fr 2rem;
      color: var(--color-text);
      padding: 0.25rem 0.75rem;
      font-weight: bold;
      align-items: center;
    }

    &menu-btn {
      height: 2rem;
      width: 2rem;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: background-color var(--cc-transition-speed) ease;

      &:hover {
        background-color: var(--sidebar-color-bg);
      }
    }

    &last-update-text {
      text-align: center;
      color: var(--color-text-sub);
      margin: 0;
      padding: 0;
      padding-top: 0.5rem;
    }

    &menu__ {
      &wrapper {
        background-color: var(--sidebar-color-bg);
        padding: 0.5rem 0;
        border-radius: 0.25rem;
        // margin-left: -9.5rem;
        // margin-top: 2.5rem;
        height: 5.25rem;

        top: -12rem;
        position: relative;
        width: 8rem;
        right: -6rem;
      }

      &btn {
        cursor: pointer;
        transition: background-color var(--cc-transition-speed) ease;
        padding: 0.25rem 0.5rem;

        &:hover {
          background-color: var(--sidebar-color-bg-hover);
        }
      }

      &divider {
        margin: 0;
        padding: 0;
        border: none;
        border-top: 0.0625rem solid var(--color-border);
      }
    }
  }
}

.lbn_editor_preview_target {
  overflow: hidden;
}

.lbn_editor_preview_target .lbn__core__l-editor__editor-container,
.lbn_editor_preview_target .lbn__core__l-editor__editor-inner {
  background: initial !important;
}

.lbn_editor_preview_target .lbn__core__l-editor__editor-input {
  min-height: initial !important;
  height: 10.5rem;
  overflow: hidden;
}